<div class="box1 main" id="main-box">
    <div class="title">
        <div class="wifi">
            <h2>Firmware update устройства</h2>
        </div>
        <div class="img">
            <img src=" data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAABH0lEQVRoge2ZWwrCMBBFDyLuyboBxXX5Wpe6EW27DPXDlPoIrYlNM03nwBBoGLiXaSdlAiPmDBwj7nfG3USsfSsT1wSpJGNkFMyAA1BSv7exogB2RpMzewEGPmPrY6QwyXOf5I7JqCvjjFcbDEijnmS6lquRNZADV2DVvZz/OfP+UYG9lNeX55fe1H3redV6groit55FdUmrdltFVjyrcgGWAUS56gmbGAjtWoNCjUijMmI7RySj54gEtP0OCjUijeSM6DkiAD1HRKJGpKFGAvH33OzXuVZomuZmOteKUZGmuZnOtQZFk5HSrFkfQlpYmNXromdH/Ku2z9j4GJkZM9UVXMzIjQmvy9DkaetmofetjKJrDYqpR071XxZrP20eUscOAdrCjPcAAAAASUVORK5CYII="
                alt="">
        </div>
    </div>

    <div class="fw_tbl">
        <table>
            <tr>
                <td>MAC Address:</td>
                <td id="mac"></td>
            </tr>
            <tr>
                <td>Device serial:</td>
                <td id="serial"></td>
            </tr>
            <tr>
                <td>Device type:</td>
                <td id="fw_cur_type"></td>
            </tr>
            <tr>
                <td>Current FW Version:</td>
                <td id="fw_cur_ver"></td>
            </tr>
            <tr>
                <td>Git Branch:</td>
                <td id="fw_cur_branch"></td>
            </tr>
            <tr>
                <td>Git Commit:</td>
                <td id="fw_cur_commit"></td>
            </tr>

        </table>
    </div>

    <div class="steps">
        <div id="upload_file">
            <h4>Open firmware udpate package</h4>
            <form id="upload_file_frm">
                <label class="fw_but subbut">
                    <input type="file" onchange="file_select(this)" style="display: None;" />
                    Open
                </label>
            </form>
        </div>
        <div id="fw_info" style="display: none;">
            <h4>Information about FW update package</h4>
            <div id="fw_info_frm" class="fw_tbl">
                <table>
                    <tr>
                        <td>Build time:</td>
                        <td id="fw_new_built"></td>
                    </tr>
                    <tr>
                        <td>Device:</td>
                        <td id="fw_new_type"></td>
                    </tr>
                    <tr>
                        <td>FW Version:</td>
                        <td id="fw_new_ver"></td>
                    </tr>
                    <tr>
                        <td>Git Branch:</td>
                        <td id="fw_new_branch"></td>
                    </tr>
                    <tr>
                        <td>Git Commit:</td>
                        <td id="fw_new_commit"></td>
                    </tr>
                </table>
                <button class="subbut" onclick="push_fw()">
                    <p class="buttext">Flash</p>
                </button>
            </div>
        </div>

        <div id="write_status" style="display: none;">
            <h4>Burning firmware..</h4>
            <div style="text-align: center;">
                <progress max="100" value="0" style="width: 320px;" id="fw_upl_prg"></progress>
                <p>Load:  <span id="fw_upl_prg_lbl">0</span>%</p>
                <p><b>To avoid device firmware damage, please, DO NOT POWER OFF the device.</b></p>
            </div>
        </div>
        <div id="reboot_status" style="display: none;">
            <h4>Device reboot</h4>
            <div style="text-align: center;">
                <p><b>To avoid device firmware damage, please, DO NOT POWER OFF the device..  Page will be refreshed automatically</b></p>
            </div>
        </div>
    </div>
</div>
<div class="box1 main" style="margin-top: 8px;" id="rst-box">
    <p><a class="rstlnk" href="#" onclick="rst()">Reset to default configuration</a></p>
</div>