<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Documentation esp32-uclient</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <style>
        body {
            background: #f0efef;
        }
        .button {
            background-color: #eb332c;
            border: 0.1rem solid #eb332c;
        }
        .button:hover {
            background-color: #da221b;
            border: 0.1rem solid #da221b;
        }
    </style>
</head>

<body>
    <div style="padding: 32px">
    {{ body }}
    </div>
</body>